body, .dark-theme {
    background-image: linear-gradient(#272727, #424242);
    color: #FFFFFF;
    font-family: 'google sans', monospace;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: #272727;
}

article {
    width: clamp(12.5rem, 50%, 12.5rem);
}

.vex-deal {
    color: #00f2ea;
    font-weight: bold;
    font-size: 1.32rem;
}

.grid {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto;
    place-items: center;
}

.navmenu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    place-items: center;
}

.rounded {
    border-radius: 25rem;
    border: 0.2rem solid #FFFFFF;
    background-image: linear-gradient(to right, #73AD21, #CCCCCC, #73AD21); /* Default Color */
    font-family: fantasy;
    font-style: bold;
    padding: 0.05rem;
    width: 50%;
    height: 3rem;
}

/* YouTube Social Media Button */
.youtube {
    background-image: linear-gradient(to right, #FF0000, #CCCCCC, #FF0000);
}

/* Twitter Social Media Button */
.twitter {
    background-image: linear-gradient(to right, #1DA1F2, #CCCCCC, #1DA1F2);
}

/* Instagram Social Media Button */
.instagram {
    background-image: linear-gradient(to right, #fbad50, #CCCCCC, #8a3ab9);
}

/* Discord Social Media Button */
.discord {
    background-image: linear-gradient(to right, #7289da, #CCCCCC, #7289da);
}

/* ExoPhase Social Media Button */
.exophase {
    background-image: linear-gradient(to right, #2596be, #CCCCCC, #5aa4c0);
}

/* TikTok Social Media Button */
.tiktok {
    background-image: linear-gradient(to right, #ff0050, #CCCCCC, #00f2ea);
}

.blank {
    height: 1.25rem;
    width: 1.25rem;
}

.icon {
    height: 3rem;
}

.hotbar {
    border: 0.2rem hidden #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 1.75rem;
    padding: 0.3rem;
}

.navlink {
    text-decoration: none;
    color: #FFFFFF;
}

.link {
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(to right, #cf086c, #00f2ea, #9df200);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.form {
    background-color: #AAAAAA;
    width: 90%;
    border-radius: 1.5625rem;
}

.title {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 1.5625rem;
    resize: vertical;
    padding: 0.625rem;
    height: auto;
}

textarea {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 1.5625rem;
    resize: vertical;
    padding: 0.725rem;
    height: auto;
    min-height: 20rem;
}

/* Basic XNote Buttons */
.save-button, .delete-button, .theme-button {
    border: none;
    color: black; /* Text Color */
    padding: 0.625rem 1rem;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 1.3125rem;
    border-radius: 1.5625rem;
}

.save-button {
    background-color: #4CAF50; /* Green */
    width: 25%; /* Length */
}

.delete-button {
    background-color: #af4c4c; /* Red */
    width: 25%; /* Length */
}

.theme-button {
    background-color: #4cafa7; /* Blue */
    width: 10%; /* Length */
}