body {
    background-color: #000000;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.dark-theme {
    background-color: #ffffff;
    color: #000000;
  }

.icon {
    height: 50px;
}

.title {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    resize: vertical;
    padding: 10px;
    height: auto;
}

textarea {
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    resize: vertical;
    padding: 10px;
    height: auto;
    min-height: 250px;
}

.save-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 21px;
    border-radius: 25px;
    width: 25%;
}

.delete-button {
    background-color: #af4c4c; /* Red */
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 21px;
    border-radius: 25px;
    width: 25%;
}

.theme-button {
    background-color: #4cafa7; /* Blue */
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 21px;
    border-radius: 25px;
    width: 10%;
}